/* Animation */
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px); /* Positivo para baixo. Negativo para cima. */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.animateUp {
    animation-name: up;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}

.animateRight {
    animation-name: right;
    animation-duration: 500ms;
}

.animateAppear{
    animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}